$dark-grey: #212121; //grey darken-4
$mute-grey: #424242;
$red: #f44336; //red
$green: #66bb6a; //green lighten-1
$main: #00bcd4; 
$main-dark: #00acc1;

@mixin border {
	border: 5px solid $dark-grey;
}

@mixin center-el {
	display: block;
	left: 0;
	right: 0;
	text-align: center;
}


/* Default/layout
===================================*/
html {
	color: $dark-grey;
	background-color: #fdfdfd;
}

.hidden {
	display: none;
}

#wrapper {
	@include center-el;
	margin-left: 0 auto;
	margin-right: 0 auto;
	max-width: 2000px;
}



/* Top Bar
===================================*/
#top-bar {
	background-color: $main;
	margin-top: -1.5em;
	color: $dark-grey;
	h3 {
		padding-top: .1em;
		font-weight: 500;
		text-align: center;	
	}
	h5 {
		color: white;
		background-color: $main-dark;
		text-align: center;
		margin-top: -1.3em;
		padding-bottom: .2em;
	}
}




/* Main app
====================================*/

#app-wrapper {
	@include border;
	@include center-el;
	height: 21.5em;
	background-color: white;
}

// Buttons
#button-wrapper {
	@include center-el;
	margin-top: 3em;
	margin-bottom: .5em;
}

// Time left and rounds left
#timer {
	padding: 0;
	margin: 0;
}

#time-left {
	border-right: 5px solid $dark-grey;
	height: 20.85em;
	margin-left: -.8em;
	background-color: #ef9a9a;
	h3 {
		font-weight: 500;
		color: $mute-grey;
		margin-top: .2em;
		margin-bottom: .3em;
	}
}

.time-left-numbers {
	font-weight: 600;
	font-size: 5em;
	color: $dark-grey;
}

#round {
	height: 20.85em;
	h4 {
		font-weight: 500;
		color: $mute-grey;
	}
}

#round-numbers {
	margin-top: 1.5em;
	font-weight: 600;
	font-size: 5em;
	color: $main-dark;
}


// Right bar of options
#options {
	border-left: 5px solid $dark-grey;
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.option-input {
	height: 5em;
	border-top: 5px solid $dark-grey;
	box-sizing: border-box;
	width: 105.1%;
	outline: none!important;
	p {
		display: inline-block;
		margin-left: .8em;
		margin-right: .8em;
		width: 4em;
	}	
}

.adjust {
	position: absolute;
	margin-top: .6em;
	margin-left: -.5em;
	color: #f57c00;
	// Prevents blue hilight
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	user-select: none;
	&:hover {
		cursor: pointer;
		color: $dark-grey;
	}
}


/* Media Queries
====================================*/
@media screen and (max-width: 1400px) {
	.option-input {
		width: 107%;
	}
}


@media screen and (max-width: 1215px) {
	.adjust-minus {
		margin-left: -.4em;
	}
	
	.adjust-plus {
		margin-left: -.8em;
	}
	
	.option-input {
		p {
			margin-left: .2em;
			margin-right: .6em;
		}
	}
} // End media 1115px

// grid - m
@media screen and (max-width: 992px) {
	.adjust-minus {
		margin-left: -.2em;
	}
	
	.adjust-plus {
		margin-left: -.7em;
	}
	
	.option-input {
		p {
			margin-left: .8em;
			margin-right: .8em;
		}
	}
	
} // End media 992px

@media screen and (max-width: 840px) {
	.adjust-minus {
		margin-left: -.8em;
	}
	
	.adjust-plus {
		margin-left: -.8em;
	}
	
	.option-input {
		p {
			margin-left: 0em;
			margin-right: 1.2em;
		}
	}

}

// Small is 600px and less

@media screen and (max-width: 747px) {
	
}